/* play-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* play-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2');
}

/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-cyrillic_latin-regular.woff2') format('woff2');
}

/* roboto-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v32-cyrillic_latin-500.woff2') format('woff2');
}

/* roboto-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-cyrillic_latin-700.woff2') format('woff2');
}

:root {
    --color-prim-white: #FFFFFF;
    --color-prim-blue-light: #2B7FFF;
    --color-prim-blue-dark: #011C44;
    --color-sec-grey-dark: #4A4A4A;
    --color-sec-grey-light: #747272;
    --color-sec-blue: #011F4A;
    --color-sec-yellow: #FFD02B;
}

/* Base */
body {
    color: var(--color-prim-blue-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.7;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
}

/* Link */
.link {
    color: var(--color-prim-blue-dark);
    font-size: 18px;
    text-decoration: none;
}

.link:hover {
    color: var(--color-prim-blue-light);
    font-weight: 700;
}

/* Hero section */
.hero-title {
    color: var(--color-prim-blue-light);
    font-family: 'Play', sans-serif;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.8;
}

.pre-title {
    font-size: 18px;
    line-height: 1.2;
}

.post-title {
    color: var(--color-sec-grey-dark);
    font-size: 12px;
    line-height: 1.5;
}

/* Button */
.button {
    color: var(--color-prim-white);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    background-color: var(--color-prim-blue-light);
    border: 2px solid var(--color-prim-blue-light);
    border-radius: 32px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-prim-blue-dark);
    background-color: transparent;
}

/* About us section */
.section-title {
    font-family: 'Play', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
}

.section-accent {
    color: var(--color-prim-blue-light);
}

.about-us-text .accent {
    font-weight: 500;
}

/* Why we section */
.why-we-list {
    color: #000000;;
    font-size: 18px;
    line-height: 1.3;
}

/* Procedures section */
.procedures-list {
    color: var(--color-prim-white);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
}

/* Footer */
footer {
    background-color: var(--color-prim-blue-dark);
}

.footer-link {
    color: var(--color-prim-white);
    font-size: 16px;
    text-decoration: none;
    line-height: 1.2;
}

.footer-link:hover {
    color: var(--color-prim-blue-light);
    font-weight: 700;
}

.address-link {
    color: var(--color-prim-white);
    font-size: 16px;
    text-decoration: none;
    line-height: 1.2;
}

.address-link:hover {
    color: var(--color-prim-blue-light);
    font-weight: 700;
}

.address-copyright {
    color: var(--color-sec-grey-light);
    font-size: 13px;
    line-height: 1.2;
}
